In [1]:
# Add dependecies
import csv
import os
import pandas as pd

In [2]:
# file to load
ACORuns_to_load = "Resources/IACS_ACORuns_2022.csv"

In [3]:
# read file and store in pandas DataFrame
ACORuns2022_df = pd.read_csv(ACORuns_to_load)
ACORuns2022_df

,activity_no,activity_date,activity_seq,activity_type,activity_subtype,address,city,state,zipcode,activity_stat,...,completed,result1,result2,result3,result4,result5,result6,stamp,clerk_id,userid
0,A22-389637,9/11/2022 9:13,1,INV,BITE,11696 FISHERS CORNER BLVD,FISHERS,IN,46038,COMPLETED,...,9/11/2022 16:01,1 COMP,1 IMPND,2 PICT,1 ADCMP,NaN,NaN,9/11/2022 16:01,DKALMES,MSTOCKTO
1,A22-388780,8/28/2022 1:30,1,ASSIST,POLICE,4255 ANSON BLVD,WHITESTOWN,IN,46075,COMPLETED,...,8/28/2022 4:49,1 COMP,1 RPRT,NaN,NaN,NaN,NaN,8/28/2022 4:49,NEULER,NEULER
2,A22-375306,1/30/2022 19:34,1,STRAY,CONF,7545 W 96TH ST,INDIANAPOLIS,IN,46077,COMPLETED,...,1/30/2022 21:28,1 COMP,NaN,NaN,NaN,NaN,NaN,1/30/2022 21:28,MTHOMAS3,NEULER
3,A22-388180,8/19/2022 9:44,1,INV,AN ATTACK,7791 W 96TH ST,INDIANAPOLIS,IN,46077,COMPLETED,...,8/19/2022 15:44,1 COMP,1 ATX,1 RPRT,1 RECK,NaN,NaN,8/19/2022 15:44,2200005973,MALAWSON
4,A22-388180,8/19/2022 9:44,2,INV,AAFU,7791 W 96TH ST,INDIANAPOLIS,IN,46077,COMPLETED,...,8/29/2022 14:35,1 COMP,1 RPRT,2 BRO,1 NOTIC,1 EDOWN,NaN,8/30/2022 11:35,MALAWSON,HHENSLEY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29783,A22-392839,10/29/2022 11:16,2,INV,FOLLOW UP,141 N 6TH AVE,BEECH GROVE,IN,46107,COMPLETED,...,11/17/2022 18:28,1 COMP,1 ATX,NaN,NaN,NaN,NaN,11/17/2022 18:28,SCIANCON,KHELSON
29784,A22-393025,11/2/2022 8:10,1,TRANSPORT,SICK,6136 CRAWFORDSVILLE RD,SPEEDWAY,IN,46224,COMPLETED,...,11/2/2022 13:05,1 COMP,1 CHGMD,NaN,NaN,NaN,NaN,11/2/2022 13:05,KTRENNEP,HCHERRY
29785,A22-394738,12/2/2022 15:25,1,INV,NEGLI,2836 MACPHERSON ST,INDIANAPLIS,IN,46205,COMPLETED,...,12/2/2022 16:16,1 COMP,1 NAS,2 PICT,NaN,NaN,NaN,12/2/2022 16:16,BBOWLING,CWHITE3
29786,A22-394748,12/2/2022 15:36,1,ASSIST,POLICE,675 JUSTICE WAY,INDIANAPOLIS,IN,46203,COMPLETED,...,12/2/2022 16:47,1 COMP,1 ADCMP,NaN,NaN,NaN,NaN,12/2/2022 16:47,SCIANCON,SCIANCON
29787,A22-395715,12/20/2022 22:44,1,TRANSPORT,ANIMAL,6136 CRAWFORDSVILLE RD,SPEEDWAY,IN,46224,COMPLETED,...,12/21/2022 0:52,1 COMP,1 IMPND,NaN,NaN,NaN,NaN,12/21/2022 0:52,KTRENNEP,NEULER

In [4]:
# how many null values
[[column,ACORuns2022_df[column].isnull().sum()] for column in ACORuns2022_df.columns]

[['activity_no', 0],
 ['activity_date', 0],
 ['activity_seq', 0],
 ['activity_type', 0],
 ['activity_subtype', 0],
 ['address', 0],
 ['city', 0],
 ['state', 0],
 ['zipcode', 0],
 ['activity_stat', 0],
 ['activity_priority', 0],
 ['officer_id', 132],
 ['calldate', 0],
 ['newdate', 0],
 ['dispatched', 472],
 ['working', 974],
 ['completed', 45],
 ['result1', 166],
 ['result2', 3802],
 ['result3', 12556],
 ['result4', 19452],
 ['result5', 24810],
 ['result6', 27940],
 ['stamp', 0],
 ['clerk_id', 0],
 ['userid', 0]]

In [6]:
# pull out only the columns to use in the map
MapACORuns2022_df = pd.DataFrame(ACORuns2022_df[["activity_no", "activity_date", "activity_type", "activity_subtype", "address", "city", "state", "zipcode"]])
MapACORuns2022_df

,activity_no,activity_date,activity_type,activity_subtype,address,city,state,zipcode
0,A22-389637,9/11/2022 9:13,INV,BITE,11696 FISHERS CORNER BLVD,FISHERS,IN,46038
1,A22-388780,8/28/2022 1:30,ASSIST,POLICE,4255 ANSON BLVD,WHITESTOWN,IN,46075
2,A22-375306,1/30/2022 19:34,STRAY,CONF,7545 W 96TH ST,INDIANAPOLIS,IN,46077
3,A22-388180,8/19/2022 9:44,INV,AN ATTACK,7791 W 96TH ST,INDIANAPOLIS,IN,46077
4,A22-388180,8/19/2022 9:44,INV,AAFU,7791 W 96TH ST,INDIANAPOLIS,IN,46077
...,...,...,...,...,...,...,...,...
29783,A22-392839,10/29/2022 11:16,INV,FOLLOW UP,141 N 6TH AVE,BEECH GROVE,IN,46107
29784,A22-393025,11/2/2022 8:10,TRANSPORT,SICK,6136 CRAWFORDSVILLE RD,SPEEDWAY,IN,46224
29785,A22-394738,12/2/2022 15:25,INV,NEGLI,2836 MACPHERSON ST,INDIANAPLIS,IN,46205
29786,A22-394748,12/2/2022 15:36,ASSIST,POLICE,675 JUSTICE WAY,INDIANAPOLIS,IN,46203
29787,A22-395715,12/20/2022 22:44,TRANSPORT,ANIMAL,6136 CRAWFORDSVILLE RD,SPEEDWAY,IN,46224

In [ ]:
#